#root {
  background-color: ghostwhite;
  color: rgb(0, 0, 0);
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  background-color: #ffffff;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 10px 10px 30px rgba(43, 42, 42, 0.1);
  max-width: 900px;
  margin: 2rem auto;   /* ← centrerad + luft upp/ner */
}



