#root {
  max-width: 1200px;
  margin: 10;
  padding: 2rem;
}

.container {
  max-width: 900px;
  margin: 10;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #FFB8D1;
}
