#root {
  background-color: ghostwhite;
  color:limegreen
  max-width: 1200px;
  margin: 10;
  padding: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  background-color: #ffffff;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 10px 10px 30px rgba(43, 42, 42, 0.1);
  text-align: center;
  max-width: 900px;
  margin: 10;
}

.card {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #FFB8D1;
}
