/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  color: #331E36;

  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  border: none;
  border-radius: 999px;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  background-color: #ffd1e1;
  color: #331E36;

  transition:
    background-color 0.4s,
    color 0.4s,
    transform 0.2s;
}

button:hover {
  background-color: #6f4175;
  color: white;
}

button:active {
  transform: translateY(1px);
}

button.delete-btn {
  background-color: #e94f4f;
  color: white;
}

button.delete-btn:hover {
  background-color: #c93a3a;
}

