:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #fff;

  margin: 3rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}


h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
  color: #4a4a4a;
}

button {
  border: none;
  border-radius: 50px;
  color: #3b3c3a;
  background-color: rgb(229, 227, 227);
  cursor: pointer;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 20px;
  transition: 0.3s;
  
}
button:hover {
  background-color: #2fae60;
  color: white;
}

.inc-dec-btn {
  width: 100px;
  margin: auto;
  margin-top: 8px;
}

.reset-btn {
  margin: auto;
  margin-top: 8px;
  width: 5rem;
  border: 1px;
}

.delete-btn {
  background-color: rgb(251, 19, 19);
  color: white;
  margin: auto;
  width: fit-content;
}

.delete-btn:hover {
  background-color: rgb(209, 32, 32);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.addNewHabit form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 1rem;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.habit-card-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.habit-card {
  display: flex;
  flex-direction: column;
  width: 180px;
  border: solid 1px white;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0.5rem;
  list-style: none;
}

.habitList {
  flex: 1;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
}



/* .delete-btn:hover {
  background-color: rgb(199, 7, 7);
}

.delete-btn:active {
  background-color: rgb(163, 4, 4);
  transform: translateY(2px)
} */

