:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ec098a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #fe02cc;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.addNewHabit form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #535554;
}

.habit-card-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.habit-card {
  display: flex;
  flex-direction: column;
  width: 180px;
  border: solid 1px white;
  background-color: #535554;
  border-radius: 8px;
  padding: 0.5rem;
  list-style: none;
}

.habitList {
  flex: 1;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.delete-btn {
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: rgb(199, 7, 7);
}

.delete-btn:active {
  background-color: rgb(163, 4, 4);
  transform: translateY(2px)
}